[2017-02-22 12:28] dmitrizzle opened #1 "Create better documentation"
Current one doesn't really say much about all the capabilities

[2017-02-22 12:28] dmitrizzle opened #2 "Easier/Faster init"
User shouldn't need to build HTML to launch the chat widget

[2017-02-22 12:30] dmitrizzle opened #3 "Remove MooTools dependency"
It has to go.

[2017-03-03 06:40] #2 closed

[2017-03-03 06:40] #3 closed

[2017-03-03 16:54] dmitrizzle opened #4 "Answer bubbles switch places sometimes"
Occasionally answer bubble buttons would switch places. Which is really wierd.

[2017-03-03 18:36] dmitrizzle opened #5 "Scrolling is choppy"
Scrolling content down still feels choppy.

[2017-03-04 03:37] dmitrizzle commented on #5
Especially when showing image content

[2017-03-04 11:01] dmitrizzle opened #6 "Clicking answer box buttons twice pollutes the chat"
Sometimes people click things more than once

[2017-03-04 14:00] dmitrizzle opened #7 "Scrolling is a bit choppy"

[2017-03-04 14:00] #5 closed

[2017-03-04 14:14] dmitrizzle commented on #7
solved on safari

[2017-03-04 14:14] #7 closed

[2017-03-04 15:34] #1 closed

[2017-03-04 18:28] dmitrizzle opened #10 "Bubbles blink in iphone"
Until scrolling is necessary, bubbles will. Link on iPhone.

[2017-03-04 18:32] dmitrizzle opened #11 "Guide needs work"
- Language is mixed between tech savvy and simplistic
- Some grammar errors
- Bullshit needs minimizing
- Expectations for skills required and amount of work need to be set

[2017-03-05 05:05] dmitrizzle opened #12 "Reply buttons overflow is hidden"
Text cuts off on small screens for long button sentences

[2017-03-05 12:15] #6 closed

[2017-03-05 12:15] #12 closed

[2017-03-05 12:16] dmitrizzle opened #13 "Scrolling seems inefficient in Safari"

[2017-03-05 12:18] dmitrizzle commented on #10
Turned on 3D acceleration by default, it seems to help. Might have been due to elastic scroll css3 method for webkit.

[2017-03-05 17:39] dmitrizzle commented on #13
Try this https://developer.mozilla.org/en-US/docs/Web/API/window/requestAnimationFrame

[2017-03-07 06:24] dmitrizzle opened #14 "ES6"
Perhaps this could be better coded wit ES6 + Babel?

[2017-03-15 08:51] dmitrizzle opened #16 "Remove eval() from codebase"
Deemed unsafe... could be replaced with http://stackoverflow.com/questions/359788/how-to-execute-a-javascript-function-when-i-have-its-name-as-a-string

[2017-03-22 03:45] dmitrizzle opened #17 "Demo stopped working"

[2017-03-22 09:51] #17 closed

[2017-04-17 05:45] dmitrizzle opened #19 "Create text input field"
This chat engine is to be used with Watson NLC API so it needs to have an input chat field as an integrated feature or a plugin. These are the proposed steps to implement that.

- [x] Textfield that's designed to work with mobile & desktop screens
- [ ] Textfield has send button
- [x] Textfield input is animated up on Enter
- [x] Textfield evokes a custom function
- [x] Plan and understand API dat

[2017-04-17 05:52] dmitrizzle opened #20 "Real-time, immutable conversation state"
Right now the chat bubble works fine, but there might be issues should the conversation options be updated in real-time or need to be more flexible. At very least there should be some sort of concise record of the conversation and user interaction besides computer RAM.

_Note:_ it's still fine to have the system work as-is for now, but data records will need to be created in the following fashion

[2017-04-17 06:40] #16 closed

[2017-04-17 06:42] dmitrizzle opened #22 "Better constructor & invocation"
- [ ] Currently "self" is required to inform JavaScript of the object name assigned to the function. That needs to go as it's ugly and redundant.
- [ ] The invocation itself doesn't seem too elegant and I wonder how it'd work with React-type programming. We need to upgrade this; **any thoughts?**

[2017-04-20 12:04] dmitrizzle commented on #19
The way this seems to pan out is that chunking will work like this: there will be "conversations" (each containing bot statements, questions and reply functions) like there are now. But there could be a multiple number of them and they could be loaded in real-time.

However, the conversation history still need to have an immutable record system of some sort.
Also, it would be good to index all ele

[2017-04-23 08:53] dmitrizzle opened #26 "User input text should appear faster in the chat window"
Right now the animation delay is a little too long.
It's there to give time for the options buttons to disappear, but it'll need to be a bit smarter for better user experience.

[2017-04-23 09:13] dmitrizzle commented on #11
Fixed guide for advanced user in v1.1.0

[2017-04-23 10:54] #11 closed

[2017-04-26 06:33] dmitrizzle opened #29 "`convo` variable in keyboard function refers to wrong location"
this.typeInput() relies on window[convo] instead of internal convo variable.

[2017-05-07 10:55] dmitrizzle commented on #29
Fixed in #32

[2017-05-07 10:55] #29 closed

[2017-07-17 05:25] dmitrizzle opened #38 "Better docs for advanced cases"
The bubble bot tutor is OK to explain the simplest things, but a proper doc is needed for advanced cases #11

[2017-08-15 06:51] dcsan opened #39 "regex in the JSON script?"
this is a really interesting project!

does the JSON markup have any ability to fuzzy match on inputs with regex or similar?
or having nodes be looked up based on some type of NLP intent/entity matching?

[2017-08-15 07:55] dmitrizzle commented on #39
Hi @dcsan
Yes it does, please have a look at this example code: https://github.com/dmitrizzle/chat-bubble/blob/master/component/examples/4-advanced-keyboard.html

Basically you are controlling the input system with `inputCallbackFn(JSONConversationObject)` as a parameter:
[code]

***
Sorry I didn't make docs or better-readable code for this yet. There is also a way to get an NLC classifier functio

[2017-09-16 00:01] abhinav118 opened #40 "image support"
I love what you are doing here @dmitrizzle 🙌🏽

I would love to see image url support or img tags for now.

Any time line for this feature?

[2017-09-16 10:03] dmitrizzle commented on #40
Hi @abhinav118, all HTML tags are supported! You can include them in your JSON script. 🍻

[2017-09-17 02:42] #39 closed

[2017-09-29 06:45] #40 closed

[2017-10-21 10:40] sksbtps opened #42 "How to use this with npm"
Now, In documentation, using script tag one can include the file. But, how to use it when this is installed via npm?

[2017-10-22 03:13] dmitrizzle commented on #42
Thanks for bringing this up @sksbtps
I've used this with Bower in Rails but I'd be happy to leave an example in doc for NPM. I think it'll be as simple as `import Bubbles from "chat-bubble"`

Are yo planning to use it with Webpack? If you let me know your setup I can tailor the example to your use.

[2017-10-22 07:01] sksbtps commented on #42
It was just a matter of calling/loading Bubbles.js. So, It's fine now.

[2017-10-22 07:01] #42 closed

[2017-11-11 02:22] #19 closed

[2017-11-30 06:43] Driglu4it opened #44 "Dots not displayed"
### Bug or feature request?
Bug

### If it's a bug, please provide the full method to reproduce.
in the examples there is no typing animation (dots).

[2017-11-30 07:25] Driglu4it commented on #44
Sorry (typeSpeed for decrease typing). Closed/

[2017-11-30 07:25] #44 closed

[2017-12-21 06:55] omertarik96 opened #45 "Chat Bubble with NLC"
I really liked the repo but I didn't understand how can I connect this one with an NLC system such as Amazon Lex.

If it is possible can you provide a tutorial for us?

Thank you so much!

[2017-12-21 11:00] dmitrizzle commented on #45
Will definitely make one soon!

[2017-12-21 17:57] omertarikkoc commented on #45
Thank you so much! Looking forward to seeing one!

[2017-12-26 23:29] omertarikkoc commented on #10
The issue still continues. How can I fix this issue?

[2017-12-27 03:27] dmitrizzle commented on #10
Hey @omertarik96 could you attach a gif that shows the blinking action?

[2018-01-08 13:34] dmitrizzle commented on #45
Hey @omertarik96 I've gotten sick and lost my voice so I'm just writing the steps down here for now. Please let me know if this makes sense - and if not how can I make it better. If it checks out I'll either do a proper post on Medium or a video later on when I can talk normally again.
***

## Request
In my use case I built a proxy on my back-end that processes the NLC requests. This way things ar

[2018-01-13 16:40] dmitrizzle commented on #38
#45

[2018-01-13 16:41] #26 closed

[2018-01-13 16:46] dmitrizzle commented on #20
After some thinking this would be an overkill for this project and adding Redux will seriously add a lot of weight. Additionally it'll go against the project paradigm of 0 dependencies. #47 should accomplish what's necessary (it'll produce a mutable array of a set length that will shift as new content is added)

[2018-01-13 16:46] dmitrizzle commented on #13
No complaints and no data to support this, so closing.

[2018-01-13 16:48] dmitrizzle commented on #10
@omertarik96 has your PR fixed the issue? If it still persist please let me know and we'll find a solution, otherwise I'll close this in the next couple days after some testing on my end.

[2018-01-22 06:50] omertarikkoc commented on #45
Thank you so much! I haven't had time to try but definitely, I will!

Also, [my personal portfolio with chat-bubble](https://omertarikkoc.com) is ready. Please check it out, I need your feedback :)

[2018-01-22 06:57] omertarikkoc commented on #38
What about opening a wiki page for the repo?

[2018-01-22 07:00] omertarikkoc commented on #10
Hello @dmitrizzle!

Yes, it fixed the issue so far. I have been testing for a couple of weeks with different devices (borrowing my friends' device), and everything is working great for now.

You can close the issue, and if I have the issue again, I will open it again.

Thank you!

[2018-01-22 07:10] #10 closed

[2018-01-22 07:10] dmitrizzle commented on #38
Yeah I think that what I'll do 👍

[2018-01-22 07:16] dmitrizzle commented on #45
Nice portfolio, man! Would love to see it work with NLC as well 😉

[2018-01-22 07:35] omertarikkoc commented on #45
Yes, my next update will be working with NLC 😄

[2018-01-31 04:47] dmitrizzle commented on #14
Gonna close this one in favour a faster setup for those who are willing to contribute. There isn't enough code here yet to justify building a server just to transpile from ES6. Hence the contribution guide (https://github.com/dmitrizzle/chat-bubble/blob/master/CONTRIBUTING.md) recommendation to just code and see what the browser gives you.

[2018-01-31 05:43] majidequbal opened #50 "bubble UI total destroyed with bootstrap"
Hi,

Bubble js is awesome but not compatible with Bootstrap. i think clearfix style getting problem.

anyone can have resolve this?

[2018-01-31 06:20] dmitrizzle commented on #50
Hey thanks for opening this up @majidequbal - could you please share some screenshots and your setup (so that this could be reproduced)?

[2018-01-31 07:18] dmitrizzle opened #51 "Local Development Server"
I guess it'll have to be done anyway, even for ES5. Because there's a case of local file access restrictions when working with memory.

[2018-02-01 05:23] dmitrizzle commented on #51
Made a warning script instead with instructions on how to overcome. Gonna keep things simple.

[2018-02-01 05:23] #51 closed

[2018-02-18 10:54] dmitrizzle commented on #50
Can't act without feedback. Closing.

[2018-02-19 05:30] majidequbal commented on #50
i reviewed code of bootstrap css finally got problem, CSS box-sizing creating problem what should i do please suggest how can i fixed box-sizing issue.

[2018-02-20 06:46] dmitrizzle commented on #50
Hey @majidequbal! Thanks for getting back. Can you pls share a screenshot and version of Bootstrap you're using? If you don't have a solution I'll get it fixed from my end, but I'd like to know as much as possible about your setup. 😇

[2018-02-22 09:57] dmitrizzle commented on #50
Is this what you meant by "totally destroyed"? I've used Bootstrap 4 with all the CSS and JavaScript that comes with it:

<img width="751" alt="screen shot 2018-02-22 at 4 55 38 pm" src="https://user-images.githubusercontent.com/8587882/36531755-755fb9c4-17f1-11e8-8e93-6affdbec01ff.png">

[2018-02-28 14:27] majidequbal commented on #50
Sorry to late reply.
Yes, Same problem is coming with bootstrap as shared you screenshot.

Ex. Word "Hi" and "Ice Cream" should be in single line.

I am using bootstrap 3.3.7.

Please help me out how can i resolve this..

[2018-03-02 03:37] dmitrizzle commented on #50
Hmm it seems that Bootstrap CSS sheet is messing with default chat-bubble styles. Let me come up with an override CSS. I'd imagine it would cascade like this:
[code]

[2018-03-03 07:17] majidequbal commented on #50
Thanks for reply

I found the error of CSS, getting problem box-sizing. if i removed, this will be worked fine but without box-sizing bootstrap grid totally destroyed.

can you fixed this issue from bubble.js

[2018-03-03 09:05] dmitrizzle commented on #50
Hey @majidequbal could you test this PR and see if it fixes the issue for you: https://github.com/dmitrizzle/chat-bubble/pull/52

Thanks!

[2018-03-21 21:41] smcnally commented on #38
Thanks for making this code available. The case attached has several chapters, a recurring "end" chapter, and a link out to an external web app that links back to another chat-bubble. I'll write / wiki it up if it's advanced enough & fits the bill.

[bubble-chat-advanced-cases.txt](https://github.com/dmitrizzle/chat-bubble/files/1835341/bubble-chat-advanced-cases.txt)

[2018-03-22 03:14] dmitrizzle commented on #38
Hey @smcnally, thank you for getting involved in this, I really appreciate it!

Re Wiki: I think it'd be best to just add another `.md` file and link to it from the main README. I find that Wikis are rarely read. Perhaps you can make a PR for that?

I've read through your example code, FYI there are some things which can be added (perhaps later), like [keyboard input](https://github.com/dmitrizzle

[2018-03-24 05:51] dmitrizzle commented on #50
Fix is in the master branch.

[2018-03-24 05:51] #50 closed

[2018-03-25 06:37] dmitrizzle commented on #45
This issue shall be a reference for #38, but I'll have it closed is I believe the question has been answered.

[2018-03-25 06:37] #45 closed

[2018-03-27 18:07] smcnally commented on #38
Will submit a PR with another `.md`. With luck, I'll update same for the bubble bot tutor.

are all of interest. Will follow-up there.

[2018-03-28 05:47] dmitrizzle commented on #38
Very much appreciated, @smcnally !

[2018-04-16 08:52] ukanth opened #54 "Feature: Date & Time in Chat bubble"
It would be great to display date:time of the reply bubbles and even group them based on date.

[2018-04-17 06:33] dmitrizzle commented on #54
Hey @ukanth how about adding a timestamp within bot's reply in a `<time></time>` tag as part of the content and styling it with CSS? Something like this:

[code]
[code]

-- you may also write a function that could add a date stamp automatically to every instance of your bot's conversation.

[2018-04-18 08:13] ukanth commented on #54
If my understanding is correct, your solution works with bot replies and not for user inputs.
Yes. I could add it. But would be great to have as option available.

[2018-04-19 05:54] dmitrizzle commented on #54
Hmm, I see your point. One of the main goals of this library is to be extremely light-weight and have zero dependencies, that's what in-part sets it apart. Though that shouldn't take away from the features you may want to implement.

I think the proper way forward would be to create a way to implement plugins. I can see certain built-in features right now as being optional in some cases already, p

[2018-04-19 08:25] ukanth commented on #54
That will work out. That will also open up other developers to add plugins. Totally in for that idea !

[2018-05-04 10:16] mikkokotila opened #55 "handling wrapping inside iframe"
Great solution you have created. Do you have an idea for how to manage a case where I have it running inside an iframe (chat-box frame basically) and when the window is closed the initial messages will wrap to single character length. If I do no wrapping, then the result is that nothing will wrap so that does not work either. There is also the case where the user closes the chat box in middle of r

[2018-05-05 03:49] dmitrizzle opened #56 "Pluggable API"
A way to build plugins on top of `chat-bubble`. This would let the users customize their setup, allow developers add reusable features and keep the codebase light. Some of the existing features (like being able to remember past conversations) should probably become plugins instead of the core functionality.

Before building this, there should probably be a plan on which parts of the bot should be

[2018-05-05 03:50] dmitrizzle commented on #54
I've created a ticket for the pluggable interface project. Your feedback, input and any PRs would be greatly appreciated. Can't promise fast turnarounds for the next little while as I'm in the mids of a big move. Thanks!

[2018-05-05 03:52] dmitrizzle commented on #55
Hi @mikkokotila,

Not sure I understand the iFrame case fully. I would, however recommend using plain DOM elements, like a `<div></div>` with dynamic content. You can have multiple `chat-bubble` instances assigned to various DOM elements. If you set the dimensions of your bot and its container (in this case the `<div></div>`) as the same and set `overflow:hidden;` for your container, you can manip

[2018-05-16 08:09] JensThanx opened #57 "Support for Firefox and Edge"
#### Chat Bubble is not presented correctly in both Edge and Firefox. I would be great if it could be compatible with all major browsers.

#### Firefox:
Use example 3, with keyboard input. The chat bubbles will flow under the text input area, being barely visible and hardly clickable.

![ff-input](https://user-images.githubusercontent.com/8536575/40104629-20cad2b8-58f1-11e8-8418-29b5878c6393.jpg)

[2018-05-16 10:13] JensThanx opened #58 "Toggle Text Input"
It would be great if the text input could simply toggled on/off. Depending on the dialog it might sometimes make sense to only allow limited choices and sometimes to allow text input. Or is it already possible, e.g. by passing in a "inputCallbackFn" to my "Bubbles" object or by setting it to "null"?

[2018-05-16 10:42] JensThanx commented on #4
I actually thought this was a feature, to look non-deterministic :)

[2018-05-17 04:28] dmitrizzle commented on #4
Nah, it needs to be fixed or controlled. Definitely not intended.

[2018-05-17 04:29] dmitrizzle commented on #58
I've never tried doing that, but perhaps `inputCallbackFn` can do just that!

[2018-05-17 04:31] dmitrizzle commented on #57
I don't have access to Edge browsers, would certainly love a PR ;)

[2018-05-17 07:39] JensThanx commented on #58
If I call the "typeInput" function the text input field indeed appears. But passing (null) e.g. only creates another text input field on top. So it is somewhat safe to do so. Probably "typeInput" should not even be exposed to the outside.

[2018-05-18 03:37] dmitrizzle commented on #58
I think a better way may be initializing `inputCallbackFn` as in the example `3-keyboard-input.html` and use `inputCallbackFn` to either show or hide it with CSS. Because `typeInput` function is used to initialize the input component, which also requires an input processor function - meaning that it should ever be called only once to set things up; once it's there it should just work.

If you are

[2018-05-18 12:19] JensThanx commented on #58
True. It is rather a matter of visibility.

[2018-05-19 06:23] dmitrizzle commented on #58
Cool! I'll mark it solved, we can re-open this ticket if necessary in the future 👍

[2018-07-02 04:46] #55 closed

[2018-07-02 04:48] dmitrizzle commented on #54
Closing in favour of #56. I've been extremely busy with my other projects meaning that the progress here will be slow on my side, however I welcome and will merge/review and helpful PRs.

[2018-07-02 04:48] #54 closed

[2018-07-02 04:49] dmitrizzle commented on #38
I think the examples are great. Next step would be to convert code to work with `jsdoc` to automatically create documentation. As per scope of this issue, I'll consider this done. Thank you!

[2018-07-02 04:49] #38 closed

[2018-07-09 08:58] wakamd opened #59 "Submitting value to sqlite"
Feature request.
Hi
I loved the chat-bubble bot!
My limitation is that am new to python, js, and learning on the fly.
I would like to use it for a demo, but am stuck at one area. Am using web2py framework and would like that when a user types a question, the same is saved in db for processing. My humble request is that, how do i append to an sqlite db? For example, even as a user selects or types

[2018-07-10 15:25] dmitrizzle commented on #59
Hey @wakamd,

You will need to create an JSON API endpoint for the bot on your back-end. I'm assuming you are attempting to track user's keyboard input.

First, you want the bot to send the user input to an endpoint (PUT). To do this you can follow the [keyboard input example](https://github.com/dmitrizzle/chat-bubble/blob/master/examples/3-keyboard-input.html) and utilize the `inputCallbackFn(obj

[2018-07-10 20:08] wakamd commented on #59
Thank so much. Let me follow each line you've written. I'll ask when/if
I'll be in need.
God bless!

On Tue, 10 Jul 2018, 18:25 dmitrizzle <notifications@github.com> wrote:

[2018-07-11 03:33] wakamd commented on #59
Addendum :
Am working on a bot the will allow the user to input data, and the response
will be based on the data sent to sqlite database. This data will be
processed by several machine learning functions and a response sent back to
the html view. I hope this gives you an idea of how I want that.

On Tue, 10 Jul 2018, 23:07 Maurice Waka <mauricewaka@gmail.com> wrote:

[2018-07-11 09:22] dmitrizzle commented on #59
Youp, `chat-bubble` can do that. It’s built specially for that reason, actually :)

[2018-07-11 14:19] wakamd commented on #59
Hi.
Actually am stuck. Am very new to js programming, just starting to learn it

   1. I had initially tried something like this below which connects to the
   database even though i cant figure out how to get to a folder database.
   With XHR or Axios, like the example below, how do I connect to sqlite and
   post?:
   var output = document.getElementById('output');
   document.getElementById('po

[2018-07-12 15:05] wakamd commented on #59
Am making some progress..but even as we discuss this,is it safe. I bumped
into this
<https://www.quora.com/How-do-I-use-SQL-js-for-accessing-a-SQLite-database-through-a-webpage>

On Wed, Jul 11, 2018 at 12:22 PM dmitrizzle <notifications@github.com>
wrote:

[2018-07-12 16:07] wakamd commented on #59
More..
I did this using XHR helper but I still cant post to my db.
// install user input textfield
  this.typeInput = function(callbackFn) {
    var inputWrap = document.createElement("div")
    inputWrap.className = "input-wrap"
    var inputText = document.createElement("textarea")
    inputText.setAttribute("placeholder", "Ask me anything...")
    var xhr = new XMLHttpRequest();
    xhr.open('G

[2018-07-12 23:12] dmitrizzle commented on #59
Hey I’m currently traveling; will get bac once I settle 👍

[2018-07-13 04:01] wakamd commented on #59
👍

On Fri, 13 Jul 2018, 02:12 dmitrizzle <notifications@github.com> wrote:

[2018-07-19 16:58] dmitrizzle commented on #59
You need to create a JSON API interface for your database. It should have a set of predefined, limited requests that it can process and return a JSON object. It should also be on the same IP or domain name or have CORS enabled. The delay in reply is expected but you may need to display the typing bubble in the chat-bot to simulate an experience of a user typing an answer in a real-world applicatio

[2018-07-19 20:29] wakamd commented on #59
Thank you.
Good day.

On Thu, Jul 19, 2018 at 7:58 PM dmitrizzle <notifications@github.com> wrote:

[2018-07-27 10:04] jbkeg opened #60 "single quotes in answers"
if there is a single quote in prefixed reply question it occurred error with
"Uncaught SyntaxError: missing ) after argument list"
on questionsHTML

ie)
 if the answer is "i don't care" or else
 rest of chat will be stops with javascript error

[2018-07-27 15:04] dmitrizzle commented on #60
You can escape single quotes like this: `\’`

Edit: with your example you'll need to type your answer out like this: `"i don\'t care"`

[2018-07-30 07:59] jbkeg commented on #60
but still occurs same issues

this issues can be solved by using javascript escape function
using escape(el.question) and escape(el.answer) in bubbles.js

[2018-07-30 20:35] dmitrizzle commented on #60
@jbkeg Can you show me an example snippet of your code? I'd like to try and find out why it may occur.

The escape function might be an interesting way of dealing with these kinds of issues. If you'd like to submit a PR, I'll do some testing on it to see if it can be safely implemented.

[2018-08-04 21:16] wakamd commented on #59
Hi dmitrizzle,
I did some API integration but I also worked on a button based interface
and tried the following:
html:
<form>

        <div id="chat">
            <div class="input-wrap">
                <input type="text" id="UserName" name="username"
class="form-control input-sm chat-input" placeholder="{{=T("Ask anything
you want")}}" />
                <button type="submit" style="position:rel

[2018-08-05 18:07] dmitrizzle commented on #59
Perhaps you can share a jsFiddle or show your code in a place where I could run and see it. First thing I would suggest is to look into your console and see if there any errors.

[2018-08-05 18:19] wakamd commented on #59
code for keyboard and Bubble.js:
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wellness chat-bubble</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{=URL('static', 'css/setup.css')}}" rel="stylesheet"
type="text/css"/>
    <link href="{{=URL('static', 'css/says.css')}}" rel="stylesheet"
type="text/css"/>
    <lin

[2018-08-05 18:45] dmitrizzle commented on #59
Can you give me a **link** to a working file online with this code? I don't mind helping you along but I can't spend too much time setting things up on my end.

[2018-08-05 19:29] wakamd commented on #59
I have it working on localhost, with web2py framework. Am not sure if you
can do with web2py.

On Sun, 5 Aug 2018, 21:45 dmitrizzle <notifications@github.com> wrote:

[2018-08-05 19:43] wakamd commented on #59
Sorry , I hope I understand that you need this.
See attached.

On Sun, Aug 5, 2018 at 9:45 PM dmitrizzle <notifications@github.com> wrote:

[2018-08-05 20:02] dmitrizzle commented on #59
I need a way to run this code and see any errors that JS has to spits out, which is very difficult with what you're giving me. I suggest you start by opening browser console and checking any error messages you're having first. That's exactly what I would do with your code, if I could run it.

[2018-08-05 20:04] wakamd commented on #59
I've shared an item with you:

bubbleness.zip
https://drive.google.com/file/d/1Vj7TiloVOSpd3ek6wd3eJNexHnLLEZiq/view?usp=sharing&ts=5b67585b

It's not an attachment -- it's stored online. To open this item, just click
the link above.

[2018-08-05 20:07] wakamd commented on #59
I've forwarded it from my google drive.
I hope you got it.
Regards

On Sun, Aug 5, 2018 at 11:02 PM dmitrizzle <notifications@github.com> wrote:

[2018-08-05 20:09] wakamd commented on #59
link to file is also here:
https://drive.google.com/open?id=1Vj7TiloVOSpd3ek6wd3eJNexHnLLEZiq

On Sun, Aug 5, 2018 at 11:02 PM dmitrizzle <notifications@github.com> wrote:

[2018-08-06 15:17] wakamd commented on #59
Hi dmitrizzle,
Sorry I totally misunderstood you. But after digging around, I managed to
upload the files to pythonanywhere.
See this:
https://hestconvo.pythonanywhere.com/hest_convo/default/view_searches
Kind regards

On Sun, Aug 5, 2018 at 11:02 PM dmitrizzle <notifications@github.com> wrote:

[2018-08-06 15:26] wakamd commented on #59
The pythonanywhere login detail: username:hestconvo, pw: potomacuas123**

On Sun, Aug 5, 2018 at 11:02 PM dmitrizzle <notifications@github.com> wrote:

[2018-08-06 19:34] dmitrizzle commented on #59
Hey @wakamd FYI this conversation is not private, your login details could be seen by anyone. I suggest you change them. Also, they didn't work for me as the service requires email address rather than user name.

Let's move this conversation to email instead. Please send your reply to d at analog dot cafe.

[2018-08-06 19:34] #59 closed

[2019-03-27 13:09] dcmul commented on #57
Did anyone have any luck with this?

[2019-05-03 11:43] LavrenkovNV opened #62 "HTML code help"
Hey. I apologize in advance for bad English.
I need to understand how you can call question bubbles and answer bubbles as easy as possible for example test ("123", question)
I plan to connect to the entire project ai speech kit. Unfortunately there is not enough knowledge to understand how to manually call tiles from html code.

[2019-05-03 16:47] dmitrizzle commented on #62
What do you mean by "how to manually call tiles from html code" please?

[2019-05-03 18:21] JensThanx commented on #62
The usual way to call any question/answer bubbles is with "chatWindow.talk(convo)".
Where "convo" is the conversation (which can be as simple as one question and one answer option).
Note that a "convo" is an data object. So, there is no thing as a single method "say("How are you?", question)".
The sample code in the quick start section gives a good impression what a very simple conversation would

[2019-07-02 17:06] dmitrizzle commented on #62
Looks like this is solved, thank you Jens!

[2019-07-02 17:06] #62 closed

[2019-07-16 11:16] ashish9308 opened #63 "Please provide an Exmple for NPM"
Please give me an example like how I can use this with MEAN stack.
I'm using AngularJS 1.0 with NodeJS and Express and reason behind using this is because I want to store the chat conversation in MongoDB.
### Bug or feature request?
Let me know what type of issue this is.

### If it's a bug, please provide the full method to reproduce.
How did you end up seeing the bug? What steps did you take to

[2019-07-17 15:50] dmitrizzle commented on #63
`yarn add chat-bubble` or `npm install chat-bubble`

ES6:
[code]

I think this should cover it. Note that you need to create an API endpoint via Express that prints out the JSON that you'd be using in the chat.

You could make that endpoint spit out only small, relevant bits of conversation and load new JSON whenever the replies change on the server.

[2019-07-22 22:52] #63 closed

[2019-07-25 08:37] hamzaLeb opened #64 "How to not show any option for the user and only let him type the question ?"
I don't know how to delete the user options (example: banana, ice cream) and instead just let him type in the question. I tried to delete 'question' from 'reply' part, replace it with null, with empty string ... but no one seems to work. Can you help me out with it please ?
Thank you

[2019-07-27 21:06] JensThanx commented on #64
Hi hamzaLeb. I see your point. I thought it would be easy, but I guess it is not. Maybe @dmitrizzle also has some good ideas ;)

However, with a few adjustments I found that it can be done.

Check the example-3 (which you have surely used so far). In line 75 I see the comment "search function". This is where the program tries to find a valid answer from the list of answers. If it does not find any

[2019-07-29 12:32] ashish9308 opened #65 "After User Inputs again want to switch back to json chat"
After taking some input from users and validation like this
if(a.length == 6)
          {
        chatWindow.talk(
        {
          "sapcode": {
            says: [
              "Ok Thankssss...","Please Enter Your Employee ID."
            ],
            reply: o.convo[o.standingAnswer].reply

              }

          },

            "sapcode"
          )

          }

Now I want to ask use

[2019-07-31 15:54] dmitrizzle commented on #64
The way I achieved skipping reply buttons in one of my earlier implementations is by not having reply objects at all. In my use case I've connected the bot to Watson NLC and used Watson to take care of all possible replies during Ajax calls.

It seems that in your case you are trying to achieve a similar task but without the NLC component.

Because this tool uses browser DOM to store state, there

[2019-07-31 15:56] dmitrizzle commented on #65
Not sure I understand, Ashish. What are you trying to achieve?

[2019-07-31 16:02] dmitrizzle commented on #56
Don't think this will be happening anytime soon. If anyone would like to reopen and take a crack at this proposal, feel free to do so.

[2019-07-31 16:02] #56 closed

[2019-07-31 16:03] dmitrizzle commented on #4
Closing due to inactivity.

[2019-07-31 16:03] #4 closed

[2019-07-31 16:03] dmitrizzle commented on #22
Don't think this will be solved anytime soon. If anyone would like to reopen and take a crack at this proposal, feel free to do so.

[2019-07-31 16:03] #22 closed

[2019-07-31 16:05] dmitrizzle commented on #57
I think this is a CSS issue that shouldn't be too difficult to solve. I don't own a PC, so if this is to be solved someone with a Windows machine will need to contribute.

[2019-08-01 20:31] ashish9308 commented on #65
After the callback (inputCallbackFn) again I want to ask some question to user which is inside my  convo how to call this
For Example :

var convo = {
  ice: {
    says: ["Would you like to submit the result?"],
    reply: [
      {
        question: "Yes",
        answer: "yes"
      },
      {
        question: "No",
        answer: "no"
      }
    ]
  }

[2019-08-01 21:36] dmitrizzle commented on #65
Please follow this example: https://github.com/dmitrizzle/chat-bubble/blob/master/examples/1-basics.html

[2019-08-07 18:29] #65 closed

[2019-08-07 18:30] #64 closed

[2019-08-08 07:15] hamzaLeb commented on #64
Thank you @JensThanx  and @dmitrizzle for your support. The suggested ideas worked for me, I chose to completely remove the reply part. Thanks for the support 👍

[2019-08-08 12:53] hamzaLeb opened #66 "How to call JS function when an option is selected?"
Hi everyone, I am using chat-bubble for a django application which answers users questions. In my use case I  have to process the user input question before giving the answer back.

When the user directly types in a question, I figured out how to process the question with Python and send the answer back to JS (this is done using ajax, see [my answer here](https://stackoverflow.com/questions/511068

[2019-08-09 16:35] dmitrizzle commented on #66
Does this example help? It shows how to run a JavaScript function in response to user click: https://github.com/dmitrizzle/chat-bubble/blob/master/examples/4-run-scripts.html

[2019-08-12 06:57] hamzaLeb commented on #66
It worked perfectly good, thank you!

[2019-08-12 15:31] #66 closed

[2019-10-02 13:06] tahir80 opened #67 "Bubbles reply issues"
### Bug or feature request?
Let me know what type of issue this is.
When I click between the bubbles (somewhere at the top space between the two bubbles, then all bubbles disappears and chatbot can't move forward.
### If it's a bug, please provide the full method to reproduce.
How did you end up seeing the bug? What steps did you take to see it?

Please see the image below, you can test it yoursel

[2019-12-17 09:55] nikhil-chhabra opened #69 "Feature Request: Connect the UI with Python Chatbot over websocket"
Hi, I am looking to connect this to a websocket. I need the user inputs to be sent to the socket and the output from the socket to be given  back as bot's reply. Basically, I have a python model in place handling the conversations. I just want to connect this UI with the python model. Also, I need the bot to be reactive rather than initiative. Any help on this will be much appreciated. Thanks :)

[2019-12-18 16:45] dmitrizzle commented on #69
I believe that if you get rid of `ice` object in your JSON, the bot will be reactive, i.e. it will not "greet" the user.

As for connecting it to a back-end, the way I did it is by loading generated JSON via AJAX and displaying the "typing" animation by invoking `think()` on the bot instance while that's happening. Once the data is received, I used `talk({ "response": { "says":[ apiResponseText ]}

[2019-12-31 14:48] lexmakesthings opened #70 "Just wanted to ask a question"
I am currently using chat-bubble to teach how to prototype bot conversations. I wanted to ask where in bubbles.js - could I change 'says, reply, question and answer' so I could make it easier for others who may not have coding competency to understand what those mean in the index.html.

For example, changing 'says' to 'bot_says'

[2020-01-02 20:22] dmitrizzle commented on #70
That's fantastic!

The easiest way would be to search for keyword "says" in the code and change it. Currently it's here: https://github.com/dmitrizzle/chat-bubble/blob/master/component/Bubbles.js#L158

When changing "reply" please pay attention not to make the same change to CSS-related code, if you do, you'll have to do the same in the CSS files.

Just pay attention to change the variable name di

[2020-01-03 16:13] lexfefegha commented on #70
thank you for your swift response! made those changes

made changes to reply but seem to be getting a bug when pressing a button, it doesn't move on, it just breaks - https://glitch.com/edit/#!/feminist-chatbot?path=component/js/Bubbles.js:1:0

[2020-01-03 19:12] dmitrizzle commented on #70
I'm seeing `Bubbles.js:272 Uncaught ReferenceError: reply is not defined` error in browser console. Seems like you'll need to change `interactionsSave(say, reply)` to `interactionsSave(say, human_reply)`. There may be other issues there as well, I recommend checking your browser console when making changes, it's usually quite helpful to find bugs.

[2020-01-03 20:23] dmitrizzle commented on #67
Hmm that's odd. Do you see any errors in browser console?

[2020-01-05 20:52] lexfefegha commented on #70
thank you, I will definitely use console to check changes!

[2020-01-05 22:54] tahir80 commented on #67
Hi Dmitrizzle/Chat-Bubble,

I'll check it out and get back to you

With kind regards,
Tahir

On Fri, Jan 3, 2020, 21:23 dmitrizzle <notifications@github.com> wrote:

[2020-01-14 13:41] tahir80 commented on #67
Hi Dmitrizzle/Chat-Bubble,

I did not see anything in the console when the bubbles disappear.

with kind regards,
Tahir

[2020-01-29 00:41] echrs opened #71 "ReferenceError: chatWindow is not defined"
Hi, I tried to implement this in my vue js + vuetify project yet I am unable to go past the reply. I get this error when I click on a reply.
![image](https://user-images.githubusercontent.com/6318495/73317838-d573ec00-4237-11ea-952a-a2a78256d4e9.png)
![image](https://user-images.githubusercontent.com/6318495/73317863-e91f5280-4237-11ea-8feb-d11d5cd83b69.png)
![image](https://user-images.githubuser

[2020-02-03 15:19] dmitrizzle commented on #71
Hmm that's odd. May have something to do with how View.js interacts with DOM and that being the confusion factor for this app. Could you try implementing this example: https://github.com/dmitrizzle/chat-bubble/blob/master/examples/4-run-scripts.html and inside `bananaFunction` logging both `chatWindow` and `document.getElementById("chat")` - this may point you in the right direction.

[2020-02-06 10:17] spdragon opened #72 "multiple talk will display duplicate reply bubble"
[code]

this will only reply with c's question, how to resolve this issue?

[2020-02-07 21:15] dmitrizzle commented on #72
This way you're initializing three separate scripts, which isn't the right way of implementing this tool. As per docs, it should be structured like this:
[code]

[2020-02-19 19:56] dmitrizzle commented on #69
It's been a while since this question was asked, I'll assume it's been sufficiently covered.

[2020-02-19 19:56] #69 closed

[2020-02-19 19:57] dmitrizzle commented on #70
It's been a while since this question was asked, I'll assume it's been sufficiently covered.

[2020-02-19 19:57] #70 closed

[2020-02-19 19:57] dmitrizzle commented on #72
It's been a while since this question was asked, I'll assume it's been sufficiently covered.

[2020-02-19 19:57] #72 closed

[2020-02-24 12:24] ernesck commented on #67
Same issue here.

[2020-02-29 01:07] dmitrizzle commented on #67
The issue seems to be [this function](https://github.com/dmitrizzle/chat-bubble/blob/master/component/Bubbles.js#L237) that's evoked once the user clicks the container `.bubble`. This function cleans up all the answer bubbles. It is meant to be fired at the same time as the `onclick` event of the actual bubble spans (constructed [here](https://github.com/dmitrizzle/chat-bubble/blob/master/componen

[2020-03-09 09:25] ernesck commented on #67
Fixed the issue by checking if the user clicked on a button or not. Created a pull request too.

[2020-03-11 00:50] #67 closed

[2020-03-24 19:23] FardinDev opened #74 "Can I select multiple answers at a time?"
### Bug or feature request?
Can I select multiple answers at a time?  If not please let me know if there is any way that I can do that.
Will help me and the world a lot

### If it's a bug, please provide the full method to reproduce.
How did you end up seeing the bug? What steps did you take to see it?

[2020-03-25 03:36] dmitrizzle commented on #74
You can do it if you build a custom function and a custom interface using this example: https://github.com/dmitrizzle/chat-bubble/blob/master/examples/4-run-scripts.html

You will also need to write an interpreter function to act on your selections.

Creating a custom interface will involve adding whatever HTML inside the response bubble and also editing your CSS to look decent.

TL;DR: this won't

[2020-04-02 21:19] #74 closed

[2020-05-06 16:21] dmitrizzle commented on #71
Closing due to inactivity.

[2020-05-06 16:21] #71 closed

[2020-07-01 19:45] eokwara commented on #57
Hi Dmitrizzle,
   I am using your chatbubble. I notice that when I use it in a frame, the width of the say bubble reduces (see link https://ibb.co/kVn3Fdr ). I also notice that bubbleContent.offsetWidth in bubble.js for "say" is zero when i test it. This problem does not happen when running chat bubble outside of the frame and on a standalone. Can you assist me here? What do i need to adjust to fi

[2020-07-01 19:47] eokwara opened #76 "Chatbubble width issue"
Hi,
   I am using your chatbubble. I notice that when I use it in a frame, the width of the say bubble reduces (see link https://ibb.co/kVn3Fdr ). I also notice that bubbleContent.offsetWidth in bubble.js for "say" is zero when i test it. This problem does not happen when running chat bubble outside of the frame and on a standalone. Can you assist me here? What do i need to adjust to fix this issu

[2020-07-12 17:49] dmitrizzle commented on #76
Hey @eokwara can you provide the link for the application and share the info about the browser/system you're using? To be able to fix issues like this it's important to be able to reproduce the problem. Thanks!

[2020-07-14 11:22] eokwara commented on #76
Thanks for the response. Below is the details:
1) Website: http://34.76.34.12/demo4/test.html   (Click on the button at the bottom right. To avoid conflicts with my code, i recreated the problem again but this time, using one of the chatbubble examples: chat.bubble.v2/chat.bubble.v2/1-basics.html)
2) Browsers: Chrome, Microsoft Edge (I have attached screenshot for both browsers)

![chrome](https:/

[2020-07-21 23:45] eokwara commented on #76
Hi @dmitrizzle , I hope all is well. Were you able to resolve the issue?

[2020-07-28 02:48] dmitrizzle commented on #76
Sorry, @eokwara , it's been a busy few weeks here.

It seems that the issue is with how you're embedding the chatbot. The `chat-bubble` script creates bubble dimension properties by analyzing how much space it has available. Your page animates the width that the `iframe` has available by changing it's `style` property rapidly. It seems that the script bot initializes at a time when your animation

[2020-07-29 17:59] dmitrizzle commented on #76
Closing since this isn't an issue with the library, rather than implementation.

[2020-07-29 17:59] #76 closed

[2020-08-13 19:16] Sasi-007 opened #77 "Store the reply messages of the bot"
Can I able to Store the reply messages of the bot

[2020-08-14 16:39] dylie opened #78 "Not working on latest webpack version"
Hey,

it appears this is not working on the latest webpack version, any idea how to fix?

http://prntscr.com/tzoqkq

[2020-08-17 06:34] #77 closed

[2020-08-24 19:02] dmitrizzle commented on #78
The screenshot isn't enough context. All I see is that there's a module missing. Have you tried removing your `node_modules` folder, `package.lock`/`yarn.lock` files, and running `yarn` or `npm i`?

[2020-09-08 21:06] #78 closed

[2020-12-08 00:02] dmitrizzle opened #80 "Need integration tests"
### Bug or feature request?
Feature

`chat-bubble` is a simple, vanilla-JS app written in ES5. It's been thoroughly tested in production and has been delivering stable experience to its users for years. However, I would like to see some integration tests to ensure that this code continues to be stable for many more years.

I recommend `jest`.

[2020-12-08 00:03] dmitrizzle opened #81 "Need integration tests"
### Bug or feature request?
Feature

`chat-bubble` is a simple, vanilla-JS app written in ES5. It's been thoroughly tested in production and has been delivering stable experience to its users for years. However, I would like to see some integration tests to ensure that this code continues to be stable for many more years.

I recommend `cypress` via `github-actions`.

[2020-12-08 00:07] dmitrizzle opened #82 "Implement `es-check`"
### Bug or feature request?
feature

`es-check` is a test that can run through the code to guarantee that no unsupported JavaScript code drips into production.

The only downside is that we'll have to have `dev-dependencies` which will have no effect on production versions of the app but will require additional maintenance from the developers.

[2020-12-08 00:08] dmitrizzle opened #83 "Use WebPack in development mode"
### Bug or feature request?

It would be helpful for developers to run the app as a server instead of file for testing and feature development.

The only downside is that we'll have to have `dev-dependencies` which will have no effect on production versions of the app but will require additional maintenance from the developers.

[2020-12-08 00:10] dmitrizzle opened #84 "Consider rewriting the code in ES6/Typescript and transpile for distributed packages"
### Bug or feature request?

It may be easier for developers to read and develop ES6 code while supporting having no additional dependencies for the user and no functional changes in production.

The only downside is that we'll have to have `dev-dependencies` which will have no effect on production versions of the app but will require additional maintenance.

[2021-03-17 22:32] Aljaber808 opened #86 "Get User data selected. If user select banana how to save this into a var?"
### Bug or feature request?
Let me know what type of issue this is.

### If it's a bug, please provide the full method to reproduce.
How did you end up seeing the bug? What steps did you take to see it?

[2021-03-21 23:30] dmitrizzle commented on #86
Hey @Aljaber808, you can run a function that can store user response to a variable, localStorage, or wherever you like. Check out [the example](https://github.com/dmitrizzle/chat-bubble/blob/master/examples/4-run-scripts.html) that demonstrates the concept.

[2021-03-21 23:30] #86 closed

[2021-03-26 18:17] dmitrizzle commented on #83
This feature would be included in #84 if implemented.

[2021-03-26 18:17] #83 closed

[2021-03-26 18:19] dmitrizzle opened #87 "zero-width for bubbles in iFrame context"
_Originally posted by @eokwara in https://github.com/dmitrizzle/chat-bubble/issues/57#issuecomment-652612424_

[2021-03-26 18:20] dmitrizzle commented on #87
Hey @eokwara, sorry your original comment got hidden by GitHub so I never got to see it until now. If you can provide me a working code sample (i.e. JSFiddle or similar), I would be better equipped to tell what may be going wrong.

[2021-05-07 20:40] maansisrivastava opened #88 "Tweets can not be embedded in chatbot."
### Bug or feature request?
Feature request

### If it's a bug, please provide the full method to reproduce.
How did you end up seeing the bug? What steps did you take to see it?

Can Tweets be embedded in the chat bot?

This is how an Embedded Tweet looks like:
https://publish.twitter.com/?query=https%3A%2F%2Ftwitter.com%2FForbes%2Fstatus%2F1390758382529884164&widget=Tweet

Can I do show me a Twe

[2021-05-07 21:41] dmitrizzle commented on #88
Hey @maansisrivastava, you should be able to paste an embed code for a tweet directly as a string value to `says` keys:

[code]

Let me know if that doesn't work for you or on clear and I'll do my best to explain.

[2021-05-07 21:48] maansisrivastava commented on #88
Didn't work.

[2021-05-07 23:50] dmitrizzle commented on #88
What's the error? I need to be able to replicate.

[2021-05-27 19:59] dmitrizzle commented on #84
I gave it some thought and as the only current maintainer on this repo this seems like an undue additional maintenance requirement at this point. Package dependence requirers constants updates (mostly security patches), some of which require fixing breaking changes. This can be reopened at a later time if there's a greater need or more resources available.

[2021-05-27 19:59] #84 closed

[2021-05-31 17:26] dmitrizzle commented on #88
I looked into this on the weekend. Seems that the embed code Twitter is using isn't playing well with `chat-bubble`. I haven't got a definitive answer as to why, Partially because Twitter isn't announcing how exactly its code is interacting with the host page. But once that's known we should be able to understand how to solve this.

[2021-10-19 22:38] Iilinkasa opened #90 "How i can add avatars?"
how is it possible to add 2 different avatars for a question and an answer?

[2021-10-20 17:15] dmitrizzle commented on #90
Hey you can add avatars as HTML tags within your question/answer bubbles:

[code]

You can then turn those tags to look like whatever you want with CSS:
[code]

[2021-10-20 18:03] Iilinkasa opened #91 "How to save dialog progress to LocalStorage?"
Hi, sorry for my english
How i can save dialog progress to LocalStorage?

[2021-10-20 19:09] Iilinkasa commented on #90
maybe I'm dumb, it doesn't work

Example:
[code]
span.avatar {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 1em;
    background-image: url("images/dom.png");
}
[code]

[2021-10-22 16:22] dmitrizzle commented on #91
Hey @Iilinkasa, sorry I haven't documented the API well enough here. You can set the number of interactions to save in `localStorage` automatically by setting `options. recallInteractions ` to a number value: https://github.com/dmitrizzle/chat-bubble/blob/master/component/Bubbles.js#L9

For example,
[code]

[2021-10-22 16:23] dmitrizzle commented on #90
Can you share the screenshot and console error messages pls?

[2021-10-23 07:24] Iilinkasa commented on #91
It saves great, but how can I download progress now? After all, after the reboot, everything exactly everything happens from a new stage.

[2021-10-23 07:46] Iilinkasa commented on #91
the story just doesn't start from the right moment
the history of the dialogue is displayed but there is no continuation of it
Example
![image](https://user-images.githubusercontent.com/92829677/138547564-3b87b79f-8243-47e0-bce1-f644807b7873.png)

i set
Bubble.js
 recallInteractions = options.recallInteractions || 20 // number of interactions to be remembered and brought back upon restart

is it p

[2021-10-23 16:21] dmitrizzle commented on #91
Hi, you should be able to, yes. Quoting my response from Twitter:

Hey have you tried combining that with a custom starting point? There’s an example here https://github.com/dmitrizzle/chat-bubble/blob/master/examples/2-custom-starting-point.html

Essentially, you’re initializing the chat restart like this:

[code]

[2021-10-23 17:05] Iilinkasa commented on #91
[code]

I tried to separately store the responses in a function and create them in localStorage, but this is a very long job for each response

[code]

[2021-10-28 14:03] Iilinkasa commented on #91
What you think?

[2021-10-28 19:32] dmitrizzle commented on #91
In your implementation, you made a few syntax errors. Please check your browser console for errors first to figure out what's going on. I fixed your code and it seems to work:

[code]

[2021-10-28 19:36] dmitrizzle commented on #90
By the way, this method works on my machine. If your image can not be found or if the browser doesn't have access to it, it will not show. Add `background-color: red` and you will see the placeholders.

[2021-10-29 07:34] Iilinkasa commented on #91
Русский
Английский
я скопировал код.
запускаю:
Да, я вижу историю чата, но при перезагрузке окна, диалог начинается сначала.
и не продолжается. К примеру
я выбрал 2 кнопки ответа с момента запуска, а после перезагрузки окна
диалог начинается с первого вопроса.

Возможно вы сможете указать пример, где это работает корректно, что-бы после перезапуска, диалог продолжался с момента перезагрузки.

ya s

[2021-10-30 17:32] dmitrizzle commented on #91
Hey @Iilinkasa, I had another look at your use case. It seems that some of the options you have are:

1) Create an elaborate implementation
2) Update the core `chat-bubble` component (a PR is appreciated!) to improve `options.recallInteractions` method
3) If you aren't willing/able to put effort into either of the above, I suggest you look for another chat UI library.

***

If you're still explori

[2021-10-30 17:32] #91 closed

[2021-10-30 17:32] #90 closed

[2021-12-02 16:05] sabatale opened #92 "[Enhancement] 1 to 10 scale"
### Feature request
More like an example I'd like to have a simple 1 to 10 choice (rating). I understand there is no standard component beyond the reply, but is there any sample I can use without leveraging functions?

Thanks for building chat-bubble!

[2021-12-02 17:10] sabatale commented on #60
I can confirm `"i don\'t care"` does not work.

See [https://codepen.io/sabatale/pen/XWebMzM](https://codepen.io/sabatale/pen/XWebMzM).

[2021-12-03 17:42] dmitrizzle commented on #92
If you don't want to leverage functions, you may give 10 answer choices to the user which could either appear as bubbles (same as basic example) or by using keyboard input (however, if your user types something that can't be fuzzy-matched to your options, it may not work in which case using NLC may be better). Does that help?

[2021-12-03 17:44] dmitrizzle commented on #60
Thanks for the sample, @sabatale ! I'm gonna reopen this since this is now a replicable issue.

For now, I suggest you try curly apostrophes: `’` instead of `'`.

[2021-12-03 18:41] #92 closed

[2022-01-30 06:40] ilyasjamil opened #93 "RASA instructions not working for me. Can I get some help?"
my bot is running fine and I have everything rasa related setup correctly. I wanted to test it on the web using your UI but your rasa demo instructions didnt work for me for some reason. When I open the  rasa demo html file on my browser after seting up the server, I still get the same default demo, which is just the bot saying 'hi' . My chatbot is not there. What did I do wrong?

[2022-01-30 07:44] ilyasjamil commented on #93
solution: I had to replace 0.0.0.0 with localhost on the base url.

[2022-01-30 07:44] #93 closed

[2022-02-02 07:14] dmitrizzle commented on #93
Thank you for posting your solution, @ilyasjamil!

[2022-02-14 01:31] ilyasjamil opened #94 "How do I make the output of the chatbot make new lines ("\n")?"
So my Rasa chatbot code returns a paragraph with "\n" at the end of each line to make a new line. But when I use your Chat-bubble interface with the Rasa demo it gets ignored and every line is stacked together with the other one. What should I make the chatbot say to make a newline if \n does not work?

[2022-02-19 17:30] dmitrizzle commented on #94
Hey @ilyasjamil, have you tried replacing `\n` with `<br />`? `text.replace(/\\n/g, "<br />");`

[2022-02-19 17:31] dmitrizzle commented on #94
Alternatively, you may format your text into paragraphs with `<p>`-tags or whichever way you like with HTML and CSS.

[2022-03-17 04:26] ilyasjamil commented on #94
thank you!

[2022-03-17 04:26] #94 closed

[2022-03-17 04:27] ilyasjamil opened #95 "(rasa example) how do I get rid of the placeholder message : "Hi" ?"
I want the user to start the conversation, I dont want the message "Hi" to show up before the user types anything. How do I do that?

[2022-03-18 20:39] dmitrizzle commented on #95
I think you need to have some sort of a prompt message from the chatbot at the beginning. But it's easy to modify what this message is. In the RASA example, simply change this line: https://github.com/dmitrizzle/chat-bubble/blob/master/examples/7-nlc-rasa.html#L216

If you want it to say nothing, you may need to fork this repo and modify the internals around here: https://github.com/dmitrizzle/cha

[2022-07-22 04:08] #95 closed

[2022-07-22 04:11] ilyasjamil opened #96 "I used your rasa demo html page for my rasa project and now I want to deploy in AWS using docker"
I have an image for rasa actions server, and the rasa server, but I dont know how to integrate your html file. my plan is to deploy in AWS. Do I need to make another image for the html page only? or can I just deploy the images I have currently and add the html file to AWS without a docker image? thanks.

[2022-07-27 16:56] dmitrizzle commented on #96
Hey @ilyasjamil,

I think it would work best (for ease and scalability) if you separate your chatbot as a web app from your RASA API server. With `chat-bubble` you can simply use a static server to host the front-end. Anything S3-compatible will do, you can even host your static code on Github Pages.

[2022-07-28 21:34] ilyasjamil commented on #96
thanks!

[2022-07-28 21:34] #96 closed